# =========================
# MYSQL CONTAINER
# =========================

MYSQL_DATABASE=tea_cake_shop
MYSQL_ROOT_PASSWORD=732005

# =========================
# SPRING DATABASE
# =========================

DB_URL=jdbc:mysql://mysql:3306/tea_cake_shop?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh
DB_USERNAME=root
DB_PASSWORD=732005

# =========================
# JWT
# =========================

JWT_SECRET=replace_with_base64_encoded_32_byte_secret
JWT_ISSUER=tea-cake-shop
JWT_EXPIRATION_SECONDS=900

# =========================
# REFRESH TOKEN
# =========================

REFRESH_TOKEN_EXPIRATION_SECONDS=2592000

# =========================
# CLOUDINARY
# =========================

CLOUDINARY_CLOUD_NAME=ojojucnl
CLOUDINARY_API_KEY=982788885259123
CLOUDINARY_API_SECRET=O_gHNlcfdnyRyHKvtlv9IJUVn7Q

# =========================
# JPA
# =========================

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false

# =========================
# SERVER
# =========================

SERVER_PORT=8080